.center{
  margin:auto;
}
#banner{
  letter-spacing: 15px;
  font-family: 'MedievalSharp', cursive;
  color: white;
  
}

.lists {
  width: auto;
  height: auto;
  border: solid grey 4px;
  text-align: center;
  }